/* css styles */

/* link styling */
a {
    border-bottom: none;
    /*color: #000080;*/
    text-decoration: none;
}
a:visited {
    border-bottom: none;
    /*color: #000080;*/
    text-decoration: none;
}
a:hover {
    border-bottom: none;
    background-color: #ffe5b4;
    text-decoration: none;
}

/* allow bolding in links */
strong a {
    font-weight: inherit;
}

/* CV-related */

.cv p {
	position: relative;
	left: 15%;
	margin-bottom: 0.7em;
	margin-right: 0;
	width: 80%;
}

.cv p code:not(.sourceCode) {
	position: absolute;
	left: -18%;
	background: transparent;
	color: inherit;
	border: none;
	padding: 0;
}

.cv ul {
	position: relative;
	left: 15%;
	margin: -0.5em 0 0em 1.5em;
	width: 80%;
}
